.colaborador {
    width: 280px;
    position: relative;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-image: url(../../img/x.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 2px;
}

.colaborador .cabecalho {
    border-radius: 10px 10px 0px 0px;
}

.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: var(--branco);
    box-shadow: var(--boxShadowColab);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: var(--bgFooter);
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: var(--colorCargo);
    padding: 0 16px;
}