.listasuspensa{
display: flex;
flex-direction: column;
}
.listasuspensa label{
    font-weight: 600;
    font-size: 18px;
}
.listasuspensa select{
     mix-blend-mode: var(--branco); 
    border-radius: 0px;
    display: block;  
    border: none;
    box-shadow: var(--shadowSuspensa);
    height: 3rem;
    margin-top: .5rem;
    padding: 10px; 
}