@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black: black;
  --white: white;
  --bgFooter: #6278F7;
  --bgFooter: #6278F7;
  --hoverButton: #95ffd4;
  --boxShadowColab:5px 5px 15px rgba(0, 0, 0, 0.08);
  --colorCargo:#212121;
  --shadowSuspensa:10px 10px 30px rgba(0, 0, 0, 0.06);
  --shadowForm:7px 7px 15px rgba(0, 0, 0, 0.08);
  --bgForm:#F7F7F7;
}

.App {
  width: 100%;
}

.App__minhaorganizacao{
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: var(--bgFooter); 
  padding: 2rem 0;
}